<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<script src="lib/vue-2.4.0.js"></script>
</head>
<body>
<div id="app">
    <table :style="ss">
        <tbody >
            <tr v-for="x in 9">
                <td :style="ss" v-for="y in x" v-text="x+'*'+y+'='+x*y"></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
var vm = new Vue({
    el: '#app',
    data: {
        ss:{
            'border':'1px solid greenyellow',
            'border-collapse':'collapse',
            'text-align':'center'
        }
    },
    methods: {}
})
</script>
</body>
</html>